In [2]:
import pandas as pd

In [5]:
df00 = pd.read_csv('./00')
df01 = pd.read_csv('./01')
df02 = pd.read_csv('./02')
df03= pd.read_csv('./03')
df04= pd.read_csv('./04')
df05= pd.read_csv('./05')
df06= pd.read_csv('./06')
df07= pd.read_csv('./07')
df08= pd.read_csv('./08')
df09= pd.read_csv('./09')
df10= pd.read_csv('./10')

In [6]:
dataFrames = [df00, df01, df02, df03, df04, df05, df06, df07, df08, df09, df10]

In [7]:
firstHalf = pd.concat(dataFrames)

In [9]:
firstHalf.to_csv('./firstHalf')

In [10]:
df11 = pd.read_csv('./11')
df12 = pd.read_csv('./12')
df13 = pd.read_csv('./13')
df14= pd.read_csv('./14')
df15= pd.read_csv('./15')
df16= pd.read_csv('./16')
df17= pd.read_csv('./17')
df18= pd.read_csv('./18')
df19= pd.read_csv('./19')
df20= pd.read_csv('./20')
df21= pd.read_csv('./21')

In [11]:
dataFrames2 = [df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21]

In [12]:
secondHalf = pd.concat(dataFrames2)

In [14]:
secondHalf.to_csv('./secondHalf.csv')

In [18]:
adf00 = pd.read_csv('./assignment00')
adf01 = pd.read_csv('./assignment01')

In [19]:
dataFrames3 = [adf00, adf01]

In [20]:
assignment = pd.concat(dataFrames3)

In [21]:
assignment.to_csv('./assignments.csv')

In [22]:
assignment

         playerid abtest_group assignment_date install_date conversion_date
0          353000            A      2017-05-04   2016-01-04      2016-01-04
1          573402            A      2017-05-04   2016-01-06      2016-01-22
2         3867739            A      2017-05-04   2016-02-08             NaN
3         3918487            A      2017-05-04   2016-02-08             NaN
4         5054143            A      2017-05-04   2016-02-19             NaN
...           ...          ...             ...          ...             ...
5164399  51071065            B      2017-05-22   2017-05-22             NaN
5164400  51114545            B      2017-05-22   2017-05-22             NaN
5164401  51064851            B      2017-05-22   2017-05-22             NaN
5164402  51045657            B      2017-05-22   2017-05-22             NaN
5164403  51098005            B      2017-05-22   2017-05-22             NaN

[10331056 rows x 5 columns]

In [3]:
firstHalf= pd.read_csv('./firstHalf.csv')
secondHalf= pd.read_csv('./secondHalf.csv')

In [4]:
firstHalf.drop(columns=['Unnamed: 0'], index=1, inplace=True)
secondHalf.drop(columns=['Unnamed: 0'], index=1, inplace=True)

In [5]:
halfs = [firstHalf, secondHalf]
activity = pd.concat(halfs)
activity.to_csv('./activity.csv', index=False)

In [6]:
activity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214878699 entries, 0 to 107432104
Data columns (total 4 columns):
playerid         int64
activity_date    object
purchases        int64
gameends         int64
dtypes: int64(3), object(1)
memory usage: 8.0+ GB

In [10]:
activity.sort_values(by='playerid')

          playerid activity_date  purchases  gameends
97756171        16    2017-05-09          0        10
79547737        16    2017-05-06          0         7
11319662        16    2017-05-08          0        11
93542073        16    2017-05-13          0         7
80903387        16    2017-05-04          0         9
...            ...           ...        ...       ...
88875912  51145419    2017-05-22          0        11
21200832  51145420    2017-05-22          0         9
20332493  51145421    2017-05-22          0        31
68711193  51145422    2017-05-22          0         6
40848762  51145423    2017-05-22          0        28

[214878699 rows x 4 columns]